.shopping-cart-container{
    position: relative;
    width: 100px;

    span{
        position: absolute;
        top: 20px;
        left: 80px;
        font-size: 37px;
        font-weight: bold;
    }
}